*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    
}
html, body {
    overflow-x: hidden;
  }
.nav-link:hover{
    color: hsl(7, 96%, 61%);
}
.header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 223px;
    z-index: 1;
}
.icon{
    z-index: 1;
}

.active {
    background-color: hsl(243, 23%, 18%);
    padding-block: 20px;
    transition: cubic-bezier(0.33, 0.85, 0.56, 1.02);
    transition: 0.56s ease;
    border-bottom: 1px solid rgb(77, 77, 77);
  }

.navigation ul {
    display: flex;
    list-style: none;
    align-items: center;
    
}
header a{
    width: 100%;
  text-decoration: none;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
li{
    font-size: 18px;
    padding: 0px 15px;
    
}
.topnav{
    width: 100%;
    height: 750px;
    background-image: url('./images/hero-bg.jpg');
}
.CV{
    width: 164px;
    height: 42px;
    background-color: hsl(7, 96%, 61%);
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation{
    margin-right: 333px;;
}

@media (max-width:1260px){
    .header{
        background-color: black;
        display: block;
        padding: 30px;
        
    }
    .navigation ul{
        display: block;
        padding: 0px;
    }
    .navigation ul li{
        padding: 8px;
        padding: 8px 0px;
        font-size: 17px;
    }

    #n{
        display: none;
    }
    
}

#burger{
    font-size: 32px;
    width: 10px;
}
.topnav a.icon{
    color: aliceblue;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    padding: 29px;
    margin-right: 16px;
  }

@media (min-width: 1260px){
    .topnav a.icon{
        display: none;
        

    }
}
.content{
    width: 33%;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-right: 217px;
    
}
.name{
    font-size: 50px;
}
.content p{
    padding-top: 20px;
    font-size: 18px;
}
.image img{
    width: 350px;
    border-radius: 10px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 201px;
}
.btn-group{
    padding: 10px;
    height: 43px;
    padding-top: 24px;
}
.btn-group a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    margin: 25px;   
    font-size: 18px; 
    padding: 10px 28px 10px 18px;
    font-weight: 600;


}
.Q-btn{
    background-color: rgb(38, 16, 232);

}
.Q-btn:hover{
    background-color: hsl(7, 83%, 47%);
    transition: 0.2s;
}
@media(max-width:1260px){
    .hero{
        align-items: center;
        display: block;
        width: 100%;
    }
    .content{
        margin: 0px;
        width: 100%;
        padding: 0;
        padding-top: 0px;
        text-align: center;
    }
    .content p{
        padding: 24px 53px;
    font-size: 18px;
    text-align: justify;
    }
    .image{
    padding: 0;
    justify-content: center;
    display: flex;
    }
    .topnav{
        height: fit-content;
        padding-bottom: 40px;
    }
    .image img{
        width: 300px;
        padding-top: 25px;
    }
}

/* about css */
.about-section{
    display: flex;
    background-color: hsl(243, 23%, 18%);
    height: 90vh;
}
.about-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content-about{
    width: 33%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
   padding-right: 70px;
}
.aboutspan{
    color: hsl(7, 96%, 61%);
    font-size: 19px;
    font-weight: bold;
}
.content-about h2{
    font-size: 30px;
}
.aboutpara{
    font-size: 16px;
    text-align: justify;
}
.weather{
    width: 540px;
    border-radius: 56px;
    margin-left: 10px;
}
.weather:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
    border: 5px solid white;
}

@media screen and (min-device-width: 650px) and (max-device-width: 1260px) { 
    .weather{
        width: 600px;
    }
    .about-hero{
        display: block;

    }
    .about-section{
        height:fit-content;
        padding-bottom: 40px;
    }
    .image-about{
        width: fit-content;
        margin: auto;
    }
    .content-about{
        padding: 0px;
    text-align: center;
    width: 100%;
    padding-top: 58px;
    }
    
    .contentpara{
        padding: 20px;
    }
}
@media (max-width:650px){
    .about-hero{
        display: block;

    }
    .about-section{
        height:fit-content;
        padding-bottom: 40px;
    }
    .image-about{
        width: fit-content;
        margin: auto;
    }
    .content-about{
        padding: 0px;
    text-align: center;
    width: 100%;
    padding-top: 58px;
    }
    .image-about img{
        width: 326px;
        margin-top: 20px;
    }
    .contentpara{
        padding: 20px;
    }
    
}

/* project css */
.project{
    background-color: hsl(243, 23%, 18%);
    height: fit-content;
    padding: 20px;
    
}
.project-content{
    text-align: center;
    margin: auto;
    width: 100%;

}
.port-project{
    color: hsl(7, 96%, 61%);
    font-size: 20px;
    font-weight: bold;
}
.project-content h2{
    color: white;
    font-size: 30px;
}
.project-text{
    color: white;
    text-align: center;
}
.project-main{
    justify-content: center;
}
.Pro{
    width: 800px;
    border-radius: 40px;
    padding: 10px;
}
.prolink {
    text-align: center;
    padding-top: 20px;
}
.Pro:hover{
    border: 4px solid whitesmoke;
    
}

.linkcontent{
    padding: 10px;
}
.linkcontent img:hover{
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}
.linkcontent h3{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width:900px) and (min-width:600px){
    .Pro{
        width: 500px;
        border-radius: 40px;
        padding: 10px;
    }
}

@media (max-width:600px) {
    .Pro{
        width: 300px;
        border-radius: 40px;
        padding: 10px;
    }
}

.skill{
    background-color: hsl(243, 23%, 18%);
    height: fit-content;
    padding-bottom: 40px;
}

.sk img{
    width: 100px;
    height: 100px;
}
.myskill .sk{
    padding: 20px;
}
.sk:hover{
    transform: rotate(360deg);
    transition-duration:3s;
    
}
.half{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:800px){
    .myskill{
        width: 100%;
        display: flex;
    }
    .myskill .half{
        width: 100%;
        display: grid;
    }
}
.ft{
    background-color: hsl(225, 24%, 27%);
    height: 100px;
    text-align: center;
    font-size: 35px;
    padding-top: 51px;
}
.ft i{
    margin-right: 50px;
    color: white;
}
.ft i:hover{
    color: rgb(35, 214, 214);
}
/* blogs */
.blog{
    background-color: hsl(243, 23%, 18%);
    height: fit-content;
    padding: 1px;
    padding-bottom: 100px;
}

.blog-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogtext img{
    width: 300px;
    height: 230px;
    margin: 20px 0px;
    padding-right: 50px;
    padding-top: 50px;
    border-radius: 17px;
}
.blogarea{
    color: hsl(7, 96%, 61%);
    font-weight: bold;
}
.blogtext p{
    font-size: 18px;
    color: white;
}
@media (max-width:1200px){
    .blog-pic{
        display: block;
        padding-left: 40px;
        
    }
    .blogtext{
            text-align: center;
    }
    .blogtext p{
        padding-right: 58px;

    }
}
.blogtext img:hover{
    transform: scale(1.1);
}


/* contacts */
.contactme{
    color: hsl(7, 96%, 61%);
    padding-bottom: 77px;
    font-size: 40px;
}
.contact{
    background-color: hsl(243, 23%, 18%);
    height: fit-content;
    padding: 50px;
    text-align: center;
    border-top: 2px solid rgb(50, 50, 50);
}
.reach a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: white;
    background-image: linear-gradient(red, yellow);
    padding: 10px;
    margin: 24px;
    border-radius: 10px 

}
@media (max-width:600px){
    .reach a{
        display: block;
    }
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.act{
    transform: translateY(0);
    opacity: 1;
  }

